#login
  h1 Login
  hr
  .login-buttons
    button#fb.btn.btn-lg Connect with Facebook
    button#gg.btn.btn-lg Connect with Google
    button#si.disabled.btn.btn-lg Connect with StoreIt
    hr
    button#dev.btn.btn-lg Connect as Developer
