#login .login-buttons button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 225px;
}

#login #fb {
  color: #fff;
  background-color: #3B5998;
}

#login #gg {
  color: #fff;
  background-color: #D94A38;
}
