html, body {
  background: #ebf0f3 !important;
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#header {
  height: 40px;
	background-color: #9bbccc;
	width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header .logo {
  height: 75%;
  margin-bottom: 5px;
  margin-top: 5px;
}

#title {
  font-size: 29px;
  margin-top: 10px !important;
}

#container {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

#container hr {
  border-color: #a2a0a0;
  margin-bottom: 10px;
  margin-top: 10px;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
  outline: none;
}
