#login
  h1 Login
  hr
  .login-buttons
    button#facebook.btn.btn-lg Connect with Facebook
    button#google.btn.btn-lg Connect with Google
    button#si.disabled.btn.btn-lg Connect with StoreIt
    hr
    button#developer.btn.btn-lg Connect as Developer
