auth, auth .content {
  height: 100%;
}

#login button {
  color: #fff;
  height: 50px;
  width: 500px;
}

.login-facebook {
  background-color: #3F5C9A !important;
}

.login-google {
  background-color: #DB4437 !important;
}

.login-storeit {
  background-color: #79B1C2 !important;
}

.login-dev {
  background-color: #b7b7b7 !important;
}
