#config
  h1 Configuration Panel
  hr
  
  form(role="form")
    .form-group
      label(for="storeit-dir") Change Directory Path:
      span #{' '}
      span#storeit-dir-curr
      input#storeit-dir.form-control(type="file" webkitdirectory directory)
    .form-group
      label(for="storeit-space") Allocated space
      .input-group
        input#storeit-space.form-control(type="number")
        .input-group-addon MB
    .form-group
      label(for="storeit-bandwidth") Bandwidth restriction (0 for unlimited)
      .input-group
        input#storeit-bandwidth.form-control(type="number")
        .input-group-addon kB/s
    button#storeit-validate.btn.btn-primary(type="submit") Save
    button#storeit-reset.btn.btn-primary Restore defaults
